@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
    color: #5C5C58;
}
header{
    height: 15vh;
}

footer{
    background-color: #ff167b;
    font-size: x-small;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
footer a{
    color: #FFF;
}
.footter__copyrights{
}
.footter__redes{
    display: flex;
    gap: 1rem;
}
h1, h2, h3{
    font-family: "Caveat", cursive;
    text-align: center;
    color: #ff167b;
    font-weight: bold;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.3rem;
}
.img{
    width: 100%;
    max-width: 10rem;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #FBE6EF;
}
.header__logo{
    background-color: #FBE6EF;
    width: 50vw;
    display: block;
    align-content: center;
}
.header__logo--img {
    
    height: 100%;
    margin-left: 3rem;
}
.header__nav{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 1rem;
    padding: 1rem 3rem 1rem 1rem;
}
.header__nav--link{
    transition: color 0.5s ease;
    transition: font-size 0.5s ease;
}
.header__nav--link:hover, .actual{
    color: #ff167b;
    font-size: 0.85rem;
    /* text-decoration: underline; */
}
.header__nav--auth {
    color: #ff167b;
}
.header__nav--auth:hover {
    color: #ec7777;
    text-decoration: underline;
}
.slider{
    display: flex;
    padding: 2rem;
}
.slider--left{
    width: 60vw;
}
.slider__img{
    width: 100%;
}

.bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.section{
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem 5rem 2rem;
}
.section--clr{
    background-color: #fff8fb;
}
.contenedor__frases{
    height: 15rem;
    display: flex;
    align-content: center;
    padding: 1rem;
    background-color: #FBE6EF;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    text-align: center;
}

.contenedor__frases--txt{
    color: rgb(213, 253, 253);
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: center;
    width: 45vw;
    font-weight: bolder;
    font-size: 1.01rem;
    gap: 1rem;
}
.btn{
    padding: 5px;
    margin: 1rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
    
}
.btn a{
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #ff167b;
    transition: color .5s ease;
    transition: background-color .5s ease;
}
.btn a:hover{
    color: #ff167b;
    background-color: #fff;
}

.servicios {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cards{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap
}
.card{
    width: 19vw;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    justify-content: center;
    transform: box-shadow .5s ease;
}
.card__main{
    padding: 0 1rem 0 1rem;
    display: block;
}
.card__main p{
    font-size: .8rem;
    text-align: center;
}
.card:hover{
        -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
}

.contenedor {
    display: flex;
    height: 20rem;
}
.contenedor__img{
    width: 40vw;
    border-radius: 5px;
}
.img_r1{
    background-image: url("../assets/bg/Captura-de-Pantalla-2021-08-02-a-las-15.11.57.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.img_r2{
    background-image: url("../assets/bg/perros.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor__main{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenedor__main span{
    font-weight: bold;
    color: #f15b9c;
}
.contenedor__main--txt{
    margin: 1rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: justify;
}
.contenedor__main--txt li{
    padding-top: 1rem;
}
.portada{
    width: 100vw;
    height: 45vh;
    background-color: #ec7777;
}
.img-bg1 {
    background-image: url(../assets/bg/asset_upload_file2488_674610.jpg);
}

.img-bg2 {
    background-image: url(../assets/bg/shutterstock_353023190.jpg);
}
.img-volunatiado1, .img-volunatiado2, .img-volunatiado3{
    background-size: cover;
    background-repeat: no-repeat;
}
.img-volunatiado1 {
    background-image: url(../assets/voluntarios/voluntariado1.jpg);
}
.img-volunatiado2 {
    background-image: url(../assets/voluntarios/volunariado2.webp);
}
.img-volunatiado3 {
    background-image: url(../assets/voluntarios/voluntariado3.jpg);
}

/* sitio de las curvas https: //refine.dev/blog/css-rounded-corners/#example-2 */
.img_nosotros {
    background-image: url('../assets/bg/perros-en-adopcion-10.jpg');
    background-size: cover;
    border-radius: 60% 30% 30% 20%;
}
.img_mision {
    background-image: url('../assets/bg/63ceba1ae7b26aa4ad28478f_adopcion de razas de perros pequeñas.jpg');
    background-size: cover;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}
.img_volunatiado1 {
    background-image: url('../assets/bg/voluntariado.webp');
    background-size: cover;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

/**FORMULARIOS*/
.formulario{
    background-color: #fff;
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem 2rem 1rem 2rem;
    /* border: solid violet; */
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.formulario fieldset{
    border: none;
    
}
.formulario fieldset legend{
    font-weight: bold;
}

.formulario__busqueda fieldset{

}
.formulario__busqueda .formulario__fieldset--contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.formulario__input{
    display: flex;
    align-items: stretch;
    gap: 7px;
}

.formulario__submit{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.formulario__submit input{
    border: none;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color: #ff167b;
    transition: color .5s ease;
    transition: background-color .5s ease;
}

.formulario__submit input:hover {
    color: #ff167b;
    background-color: #fff;
}

.section--formulario{
    display: flex;
    justify-content: center
}

.formulario__contacto{
    width: 50vw;
}
.formulario__contacto .formulario__input{
    display: flex;
    flex-direction: column;
}
.formulario__contacto .formulario__input input{
    flex: 1;
}
.formulario__contacto .formulario__input textarea{
    height: 5.5rem;
}

.card--identificacion{
    border-radius: 3px;
    height: 25rem;
    

}
.card--identificacion .card__img{
    display: grid;
    justify-items: center;
    border-radius: 3px;
    width: 10rem;
    height: 10rem;
    background-color: #f15b9c;
    overflow: hidden;
}
.card--identificacion .card__img img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.card--identificacion .card__main{
    width: 100%;
    padding: 2rem 2rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-end;
    gap: 10px;
}
.card__main__especie{
    background-color: #FBE6EF;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}
.card__main__caracteristicas{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section__formulario--login{
    width: 30vw;
    height: 50vh;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.section__formulario--login h3{
    font-size: 30px;
}
.formulario__login{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__login .formulario__input label{
    width: 6rem;
    text-align: start;
    font-size: 12px;
}
.formulario__login {
   gap: 1rem;
}
.formulario__login .formulario__submit{
   width: 100%;
}
.formulario__login .formulario__submit input{
   width: 100%;
}
.login__ligas{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.login__ligas a{
    font-size: 10px;
}
.login__ligas a:hover{
    color: #ff167b;
}